<!-- Header  -->
<header>
  <div class="container">
    <h1 class="titulo wow fadeIn">
      Hola!
      <br> Soy Junior Rojas
      <br>
      <span style="color:#039BE5;">
        <a href="" class="typewrite" data-period="1000" data-type='[ "Desarrollador.", "Desarrollador." ]'>
          <span class="wrap"></span>
        </a>
      </span>
    </h1>
    <h3 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
      Me dedico al
      <span style="color:#039BE5;">
      </span>desarrollo Web y Movil.
    </h3>
  </div>
  <!-- Container -->
</header>

<!-- Main -->
<main>
  <div class="container">

    <h2 class="titulo center-align wow fadeIn">
      Que hace Junior.
    </h2>

    <div class="row">

      <div class="col s12 m6 wow slideInLeft" data-wow-duration="1s">
        <div class="trabajo-contenedor">
          <a [routerLink]="['/projects']">
            <img src="assets/img/trabajo.svg" alt="Trabajos de Junior Rojas" height="60px">
            <h4 class="titulo">
              Trabajos
            </h4>
            <p>
              Principalmente me dedico a la creacion de sitios web y aplicaciones android
            </p>
          </a>
        </div>
      </div>

      <div class="col s12 m6 wow slideInRight" data-wow-duration="1s">
        <div class="trabajo-contenedor">
          <a href="https://github.com/rojasjuniore" target="_blank">
            <img src="assets/img/proyectos.svg" alt="Proyectos de Junior Rojas" height="60px" width="65.89px">
            <h4 class="titulo">
              Proyectos
            </h4>
            <p>
              En mi tiempo libre creo cosas que sirvan a la comunidad web y movil.</p>
          </a>
        </div>
      </div>

    </div>
    <!-- Row -->
  </div>
  <!-- Container -->
</main>
